.profile
.terraform

app/.gradle
app/build/
app/!gradle/wrapper/gradle-wrapper.jar
app/!**/src/main/**/build/
app/!**/src/test/**/build/

app/.apt_generated
app/.classpath
app/.factorypath
app/.project
app/.settings
app/.springBeans
app/.sts4-cache
app/bin/
app/!**/src/main/**/bin/
app/!**/src/test/**/bin/

app/.idea
app/*.iws
app/*.iml
app/*.ipr
app/out/
app/!**/src/main/**/out/
app/!**/src/test/**/out/

app/nbproject/private/
app/nbbuild/
app/dist/
app/nbdist/
app/.nb-gradle/

app/.vscode/

