.profile
.terraform

app/.gradle
app/build/
app/!gradle/wrapper/gradle-wrapper.jar
app/!**/src/main/**/build/
app/!**/src/test/**/build/

app/.apt_generated
app/.classpath
app/.factorypath
app/.project
app/.settings
app/.springBeans
app/.sts4-cache
app/bin/
app/!**/src/main/**/bin/
app/!**/src/test/**/bin/

app/.idea
app/*.iws
app/*.iml
app/*.ipr
app/out/
app/!**/src/main/**/out/
app/!**/src/test/**/out/

app/nbproject/private/
app/nbbuild/
app/dist/
app/nbdist/
app/.nb-gradle/

app/.vscode/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
